.container {
  display: flex;
  padding: 2% 3% 2% 3%;
  width: 94%;
  flex-direction: column;
}

.card {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.display-header {
  text-align: center;
  width: 100%;
  color: darkgray;
}

.app-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 94%;
  padding: 0% 3% 0% 3%;
}

.app {
  padding: 10px;
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  padding: 1%;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  color: white;
  font-weight: bold;
  background-color: black;
  text-align: center;
  padding: 3%;
}

.card-text {
  text-align: justify;
}
